@model TaalDc.Portal.DTO.Marketing.InquriesResult

@{
    ViewBag.Title = "Inquiries";
    Layout = "_Layout";
}

<div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inquiries</a>
        </li>
    </ul>

    <div class="tab-content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Inquiry Type</th>
                    <th>Full name</th>
                    <th>Email address</th>
                    <th>Contact No.</th>
                    <th>Property</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Inquiries)
                {
                    <tr>
                        <td>1</td>
                        <td>@i.InquiryType</td>
                        <td>@i.FirstName @i.LastName</td>
                        <td>@i.EmailAddress</td>
                        <td>@i.ContactNo</td>
                        <td>@i.Property</td>
                        <td>@i.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>