@using TaalDc.Portal.DTO.Sales.Contracts;
@model IEnumerable<Contract_ClientDto>;

@{
    ViewBag.Title = "Contracts";
    Layout = "_Layout";

    var buyerId = ViewBag.BuyerId;
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" asp-controller="Buyers" asp-action="Details" asp-route-id="@buyerId">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Buyers" asp-action="Contracts" asp-route-id="@buyerId">Contracts</a>
        </li>
    </ul>

    <div class="tab-content">
        <h4 class="primary-color mb-3 mt-3">
            <strong>Contracts</strong>
        </h4>

        <div class="action-section">
            <div class="action-btn text-end">
                <a asp-controller="Contracts" asp-action="Create" asp-route-id="@buyerId" class="btn btn-primary">New Contract</a>
            </div>
        </div>

        <div class="table-responsive w-100 mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Transaction Date</th>
                        <th>Broker</th>
                        <th>Sales Status</th>
                        <th>Amount Paid</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var contract in Model.ToList())
                    {
                        //var firstOrderItem = contract.OrderItems.Any() ? contract.OrderItems.FirstOrDefault() : null;

                        <tr>
                            <td>
                                <a asp-action="Details" asp-controller="Sales" asp-route-id="@contract.OrderId">
                                    @contract.Code
                                </a>
                            </td>
                            <td>
                                @(contract.TransactionDate.HasValue ? contract.TransactionDate.Value.ToString("MMMM dd, yyyy") : "-")
                            </td>
                            <td>
                                @contract.Broker
                            </td>
                            <td>@contract.Status</td>
                            <td>@contract.AmountPaid.ToString("#,##0.00")</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>