@model TaalDc.Portal.DTO.Sales.Buyer_ClientDto

@{
    ViewBag.Title = "Buyer Details";
    Layout = "_Layout";
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Buyers" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Buyers" asp-action="Contracts" asp-route-id="@Model.Id">Contracts</a>
        </li>
    </ul>

    <div class="tab-content">
        <h4 class="primary-color mb-5 mt-3">
            <strong>Buyer Profile</strong>
        </h4>

        <div class="row">
            <div class="col-lg-4">
                <h5><strong>General Information</strong></h5>
                <a onclick="openEditGeneralInformation()" href="#">Edit</a>
                <hr />
                <p class="mb-5">
                    <strong class="primary-color">Customer Name</strong> <br />
                    @Model.Salutation @Model.FirstName @Model.LastName
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Date of Birth</strong> <br />
                    @Model.DoB.ToLongDateString()
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Civil Status</strong> <br />
                    @Model.CivilStatus.ToString()
                </p>

                <h5><strong>Contact  Information</strong></h5>
                <a onclick="openEditContactInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                    <strong class="primary-color">Email</strong> <br />
                    @Model.EmailAddress
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Mobile No.</strong> <br />
                    @Model.MobileNo
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Phone No.</strong> <br />
                    @Model.PhoneNo
                </p>

                @if (Model.HomeAddress != null) { 
                    <p class="mb-5">
                        <strong class="primary-color">Home Adress</strong> <br />
                        @Model.HomeAddress.Address @Model.HomeAddress.City @Model.HomeAddress.State @Model.HomeAddress.Country @Model.HomeAddress.ZipCode
                    </p>
                }

                @if (Model.BusinessAddress != null) { 
                    <p class="mb-5">
                        <strong class="primary-color">Business Adress</strong> <br />
                        @Model.BusinessAddress.Address @Model.BusinessAddress.City @Model.BusinessAddress.State @Model.BusinessAddress.Country @Model.BusinessAddress.ZipCode
                    </p>
                }

                @if (Model.BillingAddress != null) { 
                    <p class="mb-5">
                        <strong class="primary-color">Billing Adress</strong> <br />
                        @Model.BillingAddress.Address @Model.BillingAddress.City @Model.BillingAddress.State @Model.BillingAddress.Country @Model.BillingAddress.ZipCode
                    </p>
                }
            </div>


            <div class="col-lg-4">
                <h5><strong>Spouse</strong></h5>
                <a onclick="openEditGeneralInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                   Mrs. Ann Smith-Doe
                </p>

                <h5><strong>ID Information</strong></h5>
                <a onclick="openEditGeneralInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                    <strong class="primary-color">Occupation</strong> <br />
                    @Model.Occupation
                </p>

                <p class="mb-5">
                    <strong class="primary-color">TIN</strong> <br />
                    @Model.TIN
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Gov. Issued ID</strong> <br />
                    @Model.GovIssuedID
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Valid Until</strong> <br />
                    @Model.GovIssuedIDValidUntil.ToShortDateString()
                </p>
            </div>
            <div class="col-lg-4">
                <h5><strong>Company Information</strong></h5>
                <a onclick="openEditGeneralInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                    <strong class="primary-color">Corporate Account?</strong> <br />
                    @(Model.IsCorporate ? "YES": "NO")
                </p>
                @if (Model.IsCorporate)
                {

                    <p class="mb-5">
                        <strong class="primary-color">Name</strong> <br />
                        @Model.Company.Name
                    </p>

                    <p class="mb-5">
                        <strong class="primary-color">Address</strong> <br />
                        @Model.Company.Address
                    </p>

                    <p class="mb-5">
                        <strong class="primary-color">Industry</strong> <br />
                        @Model.Company.Industry
                    </p>
                }
            </div>
        </div>
    </div>
</div>


<!--General Info Edit Modal-->
<div class="modal fade" id="generalInfoForm" tabindex="-1" aria-labelledby="generalInfoForm" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">General Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row needs-validation" method="post" id="generalinfo" asp-action="EditGeneralInfo" asp-controller="Buyers" asp-route-id="@Model.Id">
                    <div class="col-lg-12">
                        <label class="form-label">
                            <strong>Customer Name</strong>
                        </label>
                    </div>

                    <div class="mb-3 col-lg-1">
                        <select name="Salutation" class="form-control form-select" required>
                            <option value="Mr.">
                                Mr.
                            </option>
                            <option value="Ms.">
                                Ms.
                            </option>
                            <option value="Mrs.">
                                Mrs.
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            This is a required field.
                        </div>
                    </div>

                    <div class="col-lg-11 row px-0">
                        <div class="mb-3 col-lg-4">
                            <input name="FirstName" class="form-control" required placeholder="First Name" />
                            <div class="invalid-feedback">
                                This is a required field.
                            </div>
                        </div>

                        <div class="mb-3 col-lg-4">
                            <input name="MiddleName" class="form-control" required placeholder="Middle Name" />
                            <div class="invalid-feedback">
                                This is a required field.
                            </div>
                        </div>


                        <div class="mb-3 col-lg-4">
                            <input name="LastName" class="form-control" required placeholder="Last Name" />
                            <div class="invalid-feedback">
                                This is a required field.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-lg-12">
                        <label for="DoB" class="form-label">
                            <strong>Date of Birth</strong>
                        </label>
                        <input name="DoB" class="form-control" required type="date"/>
                        <div class="invalid-feedback">
                            This is a required field.
                        </div>
                    </div>

                    <div class="mb-3 col-lg-12">
                        <label for="CivilStatusId" class="form-label">
                            <strong>Civil Status</strong>
                        </label>
                        <select name="CivilStatusId" class="form-control form-select" required>
                            <option value="1">
                                Single
                            </option>
                            <option value="2">
                                Married
                            </option>
                            <option value="3">
                                Widowed
                            </option>
                            <option value="4">
                                Widowed
                            </option>
                            <option value="5"> 
                                Widowed
                            </option>
                            <option value="6">
                                Others
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            This is a required field.
                        </div>
                    </div>
                    
               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<!--Contact Info Edit Modal-->
<div class="modal fade" id="contactInfoForm" tabindex="-1" aria-labelledby="contactInfoForm" aria-hidden="true">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row needs-validation" method="post" id="contactInfo" asp-action="EditContactInfo" asp-controller="Buyers" asp-route-id="@Model.Id">
                    <div class="mb-3 col-lg-12">
                        <label for="EmailAddress" class="form-label">
                            <strong>Email Address</strong>
                        </label>
                        <input name="EmailAddress" class="form-control" required type="email" />
                        <div class="invalid-feedback">
                            This is a required field.
                        </div>
                    </div>

                     <div class="mb-3 col-lg-12">
                        <label for="PhoneNo" class="form-label">
                            <strong>Phone No.</strong>
                        </label>
                        <input name="PhoneNo" class="form-control" required />
                        <div class="invalid-feedback">
                            This is a required field.
                        </div>
                    </div>

                    <div class="mb-3 col-lg-12">
                        <label for="MobileNo" class="form-label">
                            <strong>Mobile No.</strong>
                        </label>
                        <input name="MobileNo" class="form-control" required />
                        <div class="invalid-feedback">
                            This is a required field.
                        </div>
                    </div>
                    
               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function openEditGeneralInformation(){
            var formModal = document.getElementById('generalInfoForm');

            var modal = new bootstrap.Modal(formModal, {});

            modal.show();
        }


        function openEditContactInformation() {
            var formModal = document.getElementById('contactInfoForm');

            var modal = new bootstrap.Modal(formModal, {});

            modal.show();
        }

    </script>
}