@using Newtonsoft.Json;
@using TaalDc.Portal.DTO.Sales.Buyer;
@model Buyer_ClientDto

@{
    ViewBag.Title = "Buyer Details";
    Layout = "_Layout";

    var serializedModel = JsonConvert.SerializeObject(Model);
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Buyers" asp-action="Details" asp-route-id="@Model.Id">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Buyers" asp-action="Contracts" asp-route-id="@Model.Id">Contracts</a>
        </li>
    </ul>

    <div class="tab-content">
        <h4 class="primary-color mb-5 mt-3">
            <strong>Buyer Profile</strong>
        </h4>

        <div class="row">
            <div class="col-lg-4">
                <h5><strong>General Information</strong></h5>
                <a onclick="openEditGeneralInformation()" href="#">Edit</a>
                <hr />
                <p class="mb-5">
                    <strong class="primary-color">Customer Name</strong> <br />
                    @Model.Salutation @Model.FirstName @Model.LastName
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Date of Birth</strong> <br />
                    @Model.DoB.ToLongDateString()
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Civil Status</strong> <br />
                    @Model.CivilStatus.ToString()
                </p>

                <h5><strong>Contact  Information</strong></h5>
                <a onclick="openEditContactInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                    <strong class="primary-color">Email</strong> <br />
                    @Model.EmailAddress
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Mobile No.</strong> <br />
                    @Model.MobileNo
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Phone No.</strong> <br />
                    @Model.PhoneNo
                </p>

                
                    <p class="mb-5">
                        <strong class="primary-color">Home Address</strong> 
                        <a onclick="openEditAddress(0)"  href="#">Edit</a>
                        <br />
                        @if (Model.HomeAddress != null)
                        {
                            <span>@Model.HomeAddress.Street @Model.HomeAddress.City @Model.HomeAddress.State @Model.HomeAddress.Country @Model.HomeAddress.ZipCode</span>
                        }
                    </p>
                

                    <p class="mb-5">
                        <strong class="primary-color">Business Address</strong> 
                        <a onclick="openEditAddress(1)" href="#">Edit</a>
                        <br />
                        @if (Model.BusinessAddress != null)
                        {
                            <span>@Model.BusinessAddress.Street @Model.BusinessAddress.City @Model.BusinessAddress.State @Model.BusinessAddress.Country @Model.BusinessAddress.ZipCode</span>
                        }
                    </p>
               

              
                    <p class="mb-5">
                        <strong class="primary-color">Billing Address</strong>
                        <a  onclick="openEditAddress(2)" href="#">Edit</a>
                        <br />
                        @if (Model.BillingAddress != null)
                        {
                            <span>@Model.BillingAddress.Street @Model.BillingAddress.City @Model.BillingAddress.State @Model.BillingAddress.Country @Model.BillingAddress.ZipCode</span>
                        }
                    </p>
                
            </div>


            <div class="col-lg-4">
                <h5><strong>Spouse</strong></h5>
                <a onclick="openEditSpouseInformation()" href="#">Edit</a>
                <hr />

                @if(Model.Spouse != null){
                    <p class="mb-5">
                        @Model.Spouse.Salutation @Model.Spouse.FirstName @Model.Spouse.MiddleName @Model.Spouse.LastName
                    </p>
                }

                <h5><strong>ID Information</strong></h5>
                <a onclick="openEditIDInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                    <strong class="primary-color">Occupation</strong> <br />
                    @Model.Occupation
                </p>

                <p class="mb-5">
                    <strong class="primary-color">TIN</strong> <br />
                    @Model.TIN
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Gov. Issued ID</strong> <br />
                    @Model.GovIssuedID
                </p>

                <p class="mb-5">
                    <strong class="primary-color">Valid Until</strong> <br />
                    @Model.GovIssuedIDValidUntil.ToShortDateString()
                </p>
            </div>
            <div class="col-lg-4">
                <h5><strong>Company Information</strong></h5>
                <a onclick="openEditCompanyInformation()" href="#">Edit</a>
                <hr />

                <p class="mb-5">
                    <strong class="primary-color">Corporate Account?</strong> <br />
                    @(Model.IsCorporate ? "YES": "NO")
                </p>
                @if (Model.IsCorporate)
                {

                    <p class="mb-5">
                        <strong class="primary-color">Name</strong> <br />
                        @Model.Company.Name
                    </p>

                    <p class="mb-5">
                        <strong class="primary-color">Address</strong> <br />
                        @Model.Company.Address
                    </p>

                    <p class="mb-5">
                        <strong class="primary-color">Industry</strong> <br />
                        @Model.Company.Industry
                    </p>
                }
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("~/Views/Shared/Buyer/_GeneralInfoForm.cshtml", Model);
}

@{
    Html.RenderPartial("~/Views/Shared/Buyer/_SpouseForm.cshtml", Model);
}



@{
    Html.RenderPartial("~/Views/Shared/Buyer/_ContactInfoForm.cshtml", Model);
}


@{
    Html.RenderPartial("~/Views/Shared/Buyer/_AddressForm.cshtml", Model);
}



@{
    Html.RenderPartial("~/Views/Shared/Buyer/_IDInformationForm.cshtml", Model);
}

@{
    Html.RenderPartial("~/Views/Shared/Buyer/_CompanyForm.cshtml", Model);
}



@section Scripts{
    <script src="~/js/sales/Buyer.js"></script>
    <script>
        var modelData = JSON.parse('@Html.Raw(serializedModel)');

        function openEditGeneralInformation(){
            var formModal = document.getElementById('generalInfoModal');

            var modal = new bootstrap.Modal(formModal, {});

            //assign existing values
            var inputFields = formModal.getElementsByClassName('form-control');

            for (var i = 0; i < inputFields.length; i++) {
                if(inputFields[i].name === 'DoB'){
                    const dateString = modelData[inputFields[i].name];
                    const date = new Date(dateString);
                    const year = date.getFullYear();
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const day = date.getDate().toString().padStart(2, '0');
                    const formattedDate = `${year}-${month}-${day}`;

                    inputFields[i].value = formattedDate
                }else{
                    inputFields[i].value = modelData[inputFields[i].name]
                }
            }
            modal.show();
        }

         function openEditSpouseInformation(){
            var formModal = document.getElementById('spouseFormModal');

            var modal = new bootstrap.Modal(formModal, {});

            //assign existing values
            var inputFields = formModal.getElementsByClassName('form-control');

            var spouseModel = modelData.Spouse;

            for (var i = 0; i < inputFields.length; i++) {
                if(inputFields[i].name === 'DoB'){
                    const dateString = spouseModel[inputFields[i].name];
                    const date = new Date(dateString);
                    const year = date.getFullYear();
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const day = date.getDate().toString().padStart(2, '0');
                    const formattedDate = `${year}-${month}-${day}`;

                    inputFields[i].value = formattedDate
                }else{
                    inputFields[i].value = spouseModel[inputFields[i].name]
                }
            }
            modal.show();
        }


        function openEditContactInformation() {
            var formModal = document.getElementById('contactInfoModal');

            var modal = new bootstrap.Modal(formModal, {});

            var inputFields = formModal.getElementsByClassName('form-control');

            for (var i = 0; i < inputFields.length; i++) {
                inputFields[i].value = modelData[inputFields[i].name]
            }

            modal.show();
        }


        function openEditAddress(type){
            var formModal = document.getElementById('addressModal');

            formModal.dataset.type = type;

            let addressType = document.getElementsByName("Type"); 
            addressType[0].value = type;

            if(type === 0){
                var homeAddress = modelData.HomeAddress;

                var inputFields = formModal.getElementsByClassName('form-control');

                for (var i = 0; i < inputFields.length; i++) {
                    inputFields[i].value = homeAddress[inputFields[i].name]
                }
            }else if(type === 1){
                var businessAddress = modelData.BusinessAddress;

                var inputFields = formModal.getElementsByClassName('form-control');

                for (var i = 0; i < inputFields.length; i++) {
                    inputFields[i].value = businessAddress[inputFields[i].name]
                }
            }else if (type === 2) {
                var billingAddress = modelData.BillingAddress;

                var inputFields = formModal.getElementsByClassName('form-control');

                for (var i = 0; i < inputFields.length; i++) {
                    inputFields[i].value = billingAddress[inputFields[i].name]
                }
            }

            var modal = new bootstrap.Modal(formModal, {});

            modal.show();
        }


        function openEditIDInformation(){
            var formModal = document.getElementById('idInformationModal');

            var modal = new bootstrap.Modal(formModal, {});

            var inputFields = formModal.getElementsByClassName('form-control');

            for (var i = 0; i < inputFields.length; i++) {
                 if (inputFields[i].name === 'GovIssuedIDValidUntil') {
                    console.log(inputFields[i]);
                    const dateString = modelData[inputFields[i].name];
                    const date = new Date(dateString);
                    const year = date.getFullYear();
                    const month = (date.getMonth() + 1).toString().padStart(2, '0');
                    const day = date.getDate().toString().padStart(2, '0');
                    const formattedDate = `${year}-${month}-${day}`;

                    inputFields[i].value = formattedDate
                } else {
                    inputFields[i].value = modelData[inputFields[i].name]
                }
            }

            modal.show();
        }


        function openEditCompanyInformation() {
            var formModal = document.getElementById('companyModal');

            var modal = new bootstrap.Modal(formModal, {});

            var inputFields = formModal.getElementsByClassName('form-control');

            companyModel = modelData.Company;

            for(var i=0; i<inputFields.length; i++){
                inputFields[i].value = companyModel[inputFields[i].name]
            }

            modal.show();
        }

    </script>
}