@using TaalDc.Portal.DTO.Sales.Buyer;
@model PaginationQueryResult<GetBuyerResponse>

@{
    ViewData["Title"] = "Buyers";
    var filter = Context.Request.Query["filter"].FirstOrDefault();
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Buyers" asp-action="Index">Buyers</a>
        </li>
    </ul>


    <div class="tab-content">
    <div class="action-section">
        <div class="action-btn text-end">
            <a asp-controller="Buyers" asp-action="QuickCreate" class="btn btn-primary">New Buyer</a>
        </div>

        <div class="action-search">
            <form>
                <input name="filter" value="@(!string.IsNullOrEmpty(filter) ? filter : "")" class="form-control" placeholder="Search..." />
            </form>
        </div>
    </div>
    <div class="data-section">
        <div class="table-responsive w-100 mb-3">
            <table class="table table-striped sales-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Email Address</th>
                    <th>Phone No.</th>
                    <th>Corporate Account?</th>
                    <th>Company/Business</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach(var buyer in Model.Data)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Buyers" asp-route-id="@buyer.BuyerId">@buyer.BuyerId</a>
                        </td>
                        <td>
                            @buyer.FirstName @buyer.LastName
                        </td>
                        <td>@buyer.EmailAddress</td>
                        <td>@buyer.MobileNo</td>
                        <td>@(buyer.IsCorporate? "YES" : "NO")</td>
                        <td>@buyer.Company_Name</td>
                        <td>
                            @* <a class="action-edit" href="#">Edit</a>
                                    <a class="action-delete" href="#">Delete</a>*@
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

                
    </div>
</div>
</div>