@model TaalDc.Portal.DTO.Sales.GetSalesByIdResponse

@{
    ViewBag.Title = "Sale Details";
    Layout = "_Layout";
}


<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Sales" asp-action="Details" asp-route-id="@Model.OrderId">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Sales" asp-action="Units" asp-route-id="@Model.OrderId">Units</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Sales" asp-action="Payments" asp-route-id="@Model.OrderId">Payments</a>
        </li>
    </ul>

    <div class="tab-content">
        <h4 class="primary-color mb-5 mt-3">
            <strong>Unit Acquisition Details</strong>
        </h4>

        <div class="row">
            <div class="col-lg-4">
                <p class="mb-5">
                    <strong class="primary-color">Contract Code</strong> <br />
                    @Model.Code
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Customer Name</strong> <br/>
                    <a asp-controller="Buyers" asp-action="Details" asp-route-id="@Model.BuyerId">
                        @Model.Salutation @Model.FirstName @Model.LastName
                    </a>
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Email Address</strong> <br/>
                    @Model.EmailAddress
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Contact No.</strong> <br/>
                    @(!string.IsNullOrEmpty(Model.PhoneNo) ? Model.PhoneNo:"-")
                </p>
                 <p class="mb-5">
                    <strong class="primary-color">Mobile No.</strong> <br/>
                    @(!string.IsNullOrEmpty(Model.MobileNo)? Model.MobileNo: "-")
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Customer Address</strong> <br/>
                    @Model.Street<br/>
                    @Model.City, @Model.State, @Model.Country @Model.ZipCode
                </p>
            </div>
            <div class="col-lg-4">
                <p class="mb-5">
                    <strong class="primary-color">Property</strong> <br/>
                    @Model.Property
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Unit</strong> <br/>
                    @Model.Tower - @Model.ScenicView
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Unit No.</strong> <br/>
                    @Model.Unit
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Contract/Reference No.</strong> <br/>
                    @Model.Code
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Acquisition Date</strong> <br/>
                    @(Model.TransactionDate.HasValue ? Model.TransactionDate.Value.ToString("MMMM dd, yyyy"): "-")
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Broker/Sales Agent</strong> <br/>
                    @Model.Broker
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Remarks</strong> <br/>
                    @(!string.IsNullOrEmpty(Model.Remarks)? Model.Remarks: "-")
                </p>
                <p class="mb-5">
                    <strong class="primary-color">Sales Status</strong> <br/>
                    @Model.Status
                </p>
            </div>
        </div>
    </div>
</div>