@using SeedWork;
@using TaalDc.Portal.ViewModels.Sales;
@model SalesViewModel
@inject IAmCurrentUser CurrentUser

@{
    ViewBag.Title = "Sales Payments";
    Layout = "_Layout";

}

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" asp-controller="Sales" asp-action="Details" asp-route-id="@Model.OrderId">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Sales" asp-action="Payments" asp-route-id="@Model.OrderId">Payments</a>
        </li>
    </ul>

    <div class="tab-content">
        <h4 class="primary-color mb-5 mt-3">
            <strong>Payment Details</strong>
        </h4>

        <div class="table-responsive w-100 mb-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Payment Type</th>
                        <th>Amount</th>
                        <th>Transaction Date</th>
                        <th>Confirmation No.</th>
                        <th>Verified By</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.Payments)
                    {
                        <tr>
                            <td>@payment.Id</td>
                            <td>@payment.PaymentType</td>
                            <td>@payment.AmountPaid.ToString("#,##0.00")</td>
                            <td>@payment.ActualPaymentDate.ToString("MMMM dd, yyyy")</td>
                            <td>@payment.ConfirmationNumber</td>
                            <td>@payment.VerifiedBy</td>
                            <td>@payment.PaymentStatus</td>
                            <td>
                                @if(payment.PaymentStatus == "Pending" && CurrentUser.IsAdmin()){
                                    <a onclick="openAcceptPaymentModal(@payment.OrderId, @payment.Id)" class="action-edit" href="#">Verify</a>
                                }
                            </td>
                        </tr>
                    }


                    @if (Model.Payments.Count() == 0)
                    {
                        <tr>
                            <td class="text-center" colspan="7">No data to display.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="paymentVerifyModal" tabindex="-1" aria-labelledby="paymentVerifyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Verification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to accept this payment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button onclick="acceptPayment()" type="button" class="btn btn-primary">Accept</button>
      </div>
    </div>
  </div>
</div>


@section Scripts{
    <script src="~/js/sales/payment.js"></script>
    <script>
        function openAcceptPaymentModal(orderId, paymentId){
            var paymentModal = document.getElementById('paymentVerifyModal');

            paymentModal.dataset.orderId = orderId;
            paymentModal.dataset.paymentId = paymentId;

            var modal = new bootstrap.Modal(paymentModal, {});

            modal.show();
        }
    </script>
}
